@import "tailwindcss";

@theme {
  --color-primary: #0EA5E9;
  --color-secondary: #F59E0B;
  --color-accent: #FDE047;
  --color-background-light: #ffffff;
  --color-background-alt: #f8fafc;
  --color-text-main: #0f172a;
  --color-text-muted: #64748b;

  --font-display: "Spline Sans", sans-serif;

  --radius: 1rem;
  --radius-lg: 2rem;
  --radius-xl: 3rem;

  --animate-shimmer: shimmer 1.5s infinite;
  --animate-marquee: marquee 30s linear infinite;
}

@keyframes shimmer {
  100% {
    transform: translateX(100%);
  }
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.hover\:pause:hover {
  animation-play-state: paused;
}
